@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--background);
  background: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


.logo-animation{
  animation: logoanimation;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  /* animation-iteration-count: 1; */
  animation-fill-mode: forwards;
}

@keyframes logoanimation {
  0%{
      scale: 0;
      opacity: 0;
      filter: blur(2px);
  }    
  40%, 60%{
      scale: 7;
      opacity: 1;
      filter: blur(0);
  }
  100%{
      scale: 40;
      opacity: 0;
      filter: blur(10px);
  }
}